
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HttpError</title>
</head>
<body>
    <img src="~/Content/Images/500Error.jpg"/>
</body>
</html>
